<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
	<title>Edit a player</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
	<body>
	<h1>Edit a player</h1>
	<div>
		<form th:object="${player}" th:action="@{../save}" action="#" method="post">
			<input type="hidden" id="id" th:field="*{id}" />
		  	<label for="name">Name</label>
			<input type="text" id="name" th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="country">Country</label>
			<input type="text" id="country" th:field="*{country}" />
			<div style="clear: both; display: block; height: 10px;"></div>
		  	<label for="Age">Age</label>
			<input type="text" th:field="*{age}" />
			<div style="clear: both; display: block; height: 10px;"></div>

			<div style="clear: both; display: block; height: 10px;"></div>						
		  	<label for="poslist">Position</label>
			 <select id="poslist" th:field="*{position}" class="form-control">
       			<option th:each="position: ${positions}" th:value="${position.positionid}" th:text="${position.name}"></option>
    		</select>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save"></input>
		</form>
		</div>
	</body>
</html>